<div class="jumbotron">
    <div class="container">
        <div class="row">
            <a ui-sref="home.introduction" class="btn btn-primary">Introduction</a>
            <a ui-sref="home.module1" class="btn btn-primary">Module 1</a>
            <a ui-sref="home.module2" class="btn btn-primary">Module 2</a>
            <a ui-sref="home.module3" class="btn btn-primary">Module 3</a>
            <a ui-sref="home.module4" class="btn btn-primary">Module 4</a>
            <a ui-sref="home.module5" class="btn btn-primary">Module 5</a>
            <a ui-sref="home.module6" class="btn btn-primary">Module 6</a>
            <a ui-sref="home.module7" class="btn btn-primary">Module 7</a>
        </div>
    </div>
</div>

<div ui-view></div>