<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ vm.title }}</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <b>Invoice:</b>
            <div class="form-group">
                <label class="control-label" for="quantityInput">Quantity: {{ vm.qty }}</label>
                <input class="form-control" id="quantityInput" type="number" min="0" ng-model="vm.qty">
            </div>
            <div class="form-group">
                <label class="control-label" for="costInput">Cost per item: {{ vm.cost }}</label>
                <input class="form-control" id="costInput" type="number" min="0" ng-model="vm.cost">
            </div>
            <div class="form-group">
                <label class="control-label" for="totalDisabledInput">Total: {{ vm.qty * vm.cost }}</label>
                <input class="form-control" id="totalDisabledInput" disabled="" value="{{vm.qty * vm.cost | currency : '₱'}}">
            </div>

            <button class="btn btn-success" ng-click="vm.pay()">Pay</button>
        </div>
    </div>
</div>