<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <b>Invoice:</b>
            <div class="form-group">
                <label class="control-label" for="quantityInput">Quantity: {{ qty }}</label>
                <input class="form-control" id="quantityInput" type="number" min="0" ng-model="qty">
            </div>
            <div class="form-group">
                <label class="control-label" for="costInput">Cost per item: {{ cost }}</label>
                <input class="form-control" id="costInput" type="number" min="0" ng-model="cost">
            </div>
            <div class="form-group">
                <label class="control-label" for="totalDisabledInput">Total: {{ qty * cost }}</label>
                <input class="form-control" id="totalDisabledInput" disabled="" value="{{qty * cost | currency : '₱'}}">
            </div>

            <button class="btn btn-success" ng-click="pay()">Pay</button>
        </div>
    </div>
</div>