<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" ng-model="customSpice">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" ng-click="spicy('chili')">Chili</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" ng-click="spicy(customSpice)">Custom spice</button>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control" ng-model="customDropdownSpice">
                            <option ng-repeat="spiceOption in spicyList">{{spiceOption}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" ng-click="spicy2()">Custom Spice</button>
                    </div>
                </div>
            </div>
            <h2>The food is {{spice}} spicy!</h2>
        </div>
    </div>
</div>